BBL_workflow_final.json
{
  "name": "BBL_workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "[\"SUBJECT\", \"CCIB002\"]",
          "readStatus": "both",
          "sender": "bangkokbank"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -60,
        -100
      ],
      "id": "460ad779-e22d-4f42-942c-547243920382",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zwi850Rjq6OwnOfO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "[\"SUBJECT\", \"CCIB002\"]",
          "sender": "bangkokbank"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        -100
      ],
      "id": "2a4f249a-c3ed-4852-86c1-5cc33527d925",
      "name": "Get many messages",
      "webhookId": "9b1239fd-8745-46d0-8e1a-725d6afb8987",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zwi850Rjq6OwnOfO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        360,
        -100
      ],
      "id": "504fec60-dad1-4169-91b8-4ed1498e598b",
      "name": "Get a message",
      "webhookId": "00081d15-8317-4055-a2df-8e53491af290",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zwi850Rjq6OwnOfO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Only Zip (Code)\nconst item = $input.first();\nconst results = [];\n\nfor (const [key, bin] of Object.entries(item.binary || {})) {\n  if (bin.fileExtension === 'zip') {\n    results.push({\n      json: { zipName: bin.fileName },\n      binary: { data: bin },    // ← must be “data”\n    });\n  }\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -100
      ],
      "id": "11db14db-c1ef-43a4-89d6-d1153afe260e",
      "name": "Only Zip",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://d51c-182-52-77-138.ngrok-free.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "password",
              "value": "CCIB5002"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -60,
        140
      ],
      "id": "e796f8ec-9c50-4a19-b8a1-adb8b4f234bf",
      "name": "unzip with pass"
    },
    {
      "parameters": {
        "fileSelector": "={{$node[\"unzip with pass\"].json[\"extractedTo\"] + \"/*/*.xls\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        200,
        140
      ],
      "id": "4bfbcb04-3c0b-43f4-bd57-13e0beda8351",
      "name": "Read Files ",
      "alwaysOutputData": true,
      "executeOnce": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "command": "=python C:/Users/CCIB1164_2PC69/Documents/extract_api/merge.py C:/Users/CCIB1164_2PC69/Documents/extract_api/unzipped"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        420,
        140
      ],
      "id": "ebc36155-ea83-49fb-9ac8-0692e046108b",
      "name": "merge file",
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "197b035122cd382c",
          "threadId": "197b035122cd382c",
          "snippet": "From: Regulatory.Coordination BBL Sent: Sunday, May 18, 2025 7:21 PM To: ccib 5 &lt;ccib5@ccib.go.th&gt; Cc: Watchareporn Jaikwang &lt;Watchareporn.Jaikwang@bangkokbank.com&gt;; Watsana Hongkularb &lt;",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 21000680,
          "historyId": "25724",
          "internalDate": "1751007932000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "\"Regulatory.Coordination BBL\" <Regulatory.Coordination.BBL@bangkokbank.com>",
          "To": "ccib 5 <ccib5@ccib.go.th>",
          "CC": "Watchareporn Jaikwang <Watchareporn.Jaikwang@bangkokbank.com>, Watsana Hongkularb <Watsana.Hongkularb@bangkokbank.com>",
          "Subject": "RE: ขอนำส่งข้อมูลไฟล์อิเล็กทรอนิกส์ Template  04   ที่เกี่ยวข้องตามหมายเรียกฯ  CCIB002-2025-05-18"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Only Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Zip": {
      "main": [
        [
          {
            "node": "unzip with pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip with pass": {
      "main": [
        [
          {
            "node": "Read Files ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Files ": {
      "main": [
        [
          {
            "node": "merge file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge file": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16dfe529-74f9-4319-8862-8e01b0d16fcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62276eb0d6e6ed1576e8b1b99dd1ed37b35dcc33f31ee9430e2ad93dce0d8f74"
  },
  "id": "R5Bj3uRZggCQhIDI",
  "tags": []
}