BBL_workflow.json
{
  "name": "BBL_workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "[\"SUBJECT\", \"CCIB002\"]",
          "readStatus": "unread",
          "sender": "Regulatory.Coordination.BBL@bangkokbank.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        620
      ],
      "id": "13e0820d-9dd6-4d3f-bc25-6629f45d57f5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zwi850Rjq6OwnOfO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "[\"SUBJECT\", \"CCIB002\"]",
          "readStatus": "unread",
          "receivedAfter": "2025-07-08T00:00:00"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        420,
        620
      ],
      "id": "4e9eac53-21e5-46df-9634-ed78a1ea0e2c",
      "name": "Get many messages",
      "webhookId": "9b1239fd-8745-46d0-8e1a-725d6afb8987",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zwi850Rjq6OwnOfO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{$json.id}}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        620,
        620
      ],
      "id": "aa96e734-71e6-4d04-8055-60c14c965859",
      "name": "Get a message",
      "webhookId": "00081d15-8317-4055-a2df-8e53491af290",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "zwi850Rjq6OwnOfO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst item = $input.first();\nconst results = [];\n\nfor (const [key, bin] of Object.entries(item.binary || {})) {\n  if (bin.fileExtension === 'zip') {\n    results.push({\n      json: { zipName: bin.fileName },\n      binary: { data: bin },    // ← must be “data”\n    });\n  }\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        620
      ],
      "id": "44e77021-b786-4a7d-b191-77a2bf877b1b",
      "name": "Only Zip",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": " https://1e2a7aca582c.ngrok-free.app/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "password",
              "value": "CCIB5002"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        860
      ],
      "id": "6b46625a-0105-44e0-9843-8da77648903d",
      "name": "unzip with pass"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=python \"C:\\Users\\CCIB1164_2PC69\\Documents\\extract_api\\merge.py\" {{ 'C:/Users/CCIB1164_2PC69/Documents/extract_api/unzipped/' + $json[\"extracted\"][0] }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        860
      ],
      "id": "181ed4bf-7c52-4f18-88ab-bf3958e08da2",
      "name": "merge file",
      "alwaysOutputData": true,
      "executeOnce": false
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "197b035122cd382c",
          "threadId": "197b035122cd382c",
          "snippet": "From: Regulatory.Coordination BBL Sent: Sunday, May 18, 2025 7:21 PM To: ccib 5 &lt;ccib5@ccib.go.th&gt; Cc: Watchareporn Jaikwang &lt;Watchareporn.Jaikwang@bangkokbank.com&gt;; Watsana Hongkularb &lt;",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 21000680,
          "historyId": "25724",
          "internalDate": "1751007932000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "\"Regulatory.Coordination BBL\" <Regulatory.Coordination.BBL@bangkokbank.com>",
          "To": "ccib 5 <ccib5@ccib.go.th>",
          "CC": "Watchareporn Jaikwang <Watchareporn.Jaikwang@bangkokbank.com>, Watsana Hongkularb <Watsana.Hongkularb@bangkokbank.com>",
          "Subject": "RE: ขอนำส่งข้อมูลไฟล์อิเล็กทรอนิกส์ Template  04   ที่เกี่ยวข้องตามหมายเรียกฯ  CCIB002-2025-05-18"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Only Zip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Zip": {
      "main": [
        [
          {
            "node": "unzip with pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unzip with pass": {
      "main": [
        [
          {
            "node": "merge file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "39760976-eb9f-44a6-bd93-f21d54eeafbf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "62276eb0d6e6ed1576e8b1b99dd1ed37b35dcc33f31ee9430e2ad93dce0d8f74"
  },
  "id": "R5Bj3uRZggCQhIDI",
  "tags": []
}